@charset "UTF-8";

div.block div.box table.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 20px; /* 上下10px、左右20pxのマージン */
  max-width: fit-content;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

 .event-status {
            display: inline-block;
            border: 2px solid black;
            padding: 2px 5px;
            margin-right: 10px;
            font-weight: bold;
        }
        .event-item {
            cursor: pointer;
        }
        .event-organizer-icon {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-left: 10px;
        }

@media screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
  }
}
