body {
    font-family: 'Arial', sans-serif;
    background-color: #EFEFEF;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #757575;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1, footer p {
    margin: 0;
}

main {
    padding: 2em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0 auto;
    width: 80%;
    height: auto;
}

.block {
    flex: 1;
    min-width: 300px;
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.box {
    margin-bottom: 1em;
}

.midashi {
	display: flex;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #79BD9A;
    font-size: 1.2em;
    border-bottom: 2px solid #A8DBA8;
    padding-bottom: 0.5em;
}

.calendar {
    padding: 1em;
    border-radius: 8px;
}

.calendar-sunday {
    color: red;
}

.calendar-saturday {
    color: blue;
}

.event-list {
    list-style-type: none;
    padding: 0;
}

.event-list li {
    background-color: #79BD9A;
    color: #fff;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 4px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 1em;
    background-color: #757575;
    padding: 1em 0;
}

.menu-icon {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 10px;
}

img.menu-icon:active {
    box-shadow: none;
    position: relative;
    top: 3px;
}

/* スマホ表示用のスタイル */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .block {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        gap: 0.5em;
    }
}

div.block .calendar table{
    margin-left: auto;
    margin-right: auto;
}

.profile_img img{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

/* 画像編集用スタイル */
.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
}

.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.edit-icon-display {
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    width:25px;
}

.edit-icon-display:hover {
    background: rgba(240, 240, 240, 0.7);
}

.image-container:hover .edit-icon {
    display: block;
}

.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* 透明度50の黒色 */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white; /* テキストを白色に変更 */
}


#image-preview {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo{
	width:50px;
	position:absolute;
}

/* ラジオボタン　*/
.radio input {
  opacity: 0; /* ラジオボタンを透明に */
}

.radio label {
  display: block;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  background-color: lavenderblush;
  float: left; /* floatレイアウトで横並びに */
}

.radio:after { /* clearfix */
  content: "";
  display: block;
  clear: left;
}

.radio input[type="radio"]:checked + label {
  background-color: #ff0066;
  color: #ffffff;
}

/*プロフィール本文編集 */
.edit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.prof-input{
 white-space: pre-wrap; /* 折り返しを有効にする */
 line-height: 1.5;
 height: 80px;
 width: 200px;
}

div.box div {
	overflow-wrap: break-word;
}