.calendar {
  font-size:20px;
  line-height:30px;
}

td.calendar-left-arrow {
  cursor: pointer;
  text-align: center;
}

td.calendar-header-month {
  text-align: center;
}

td.calendar-right-arrow {
  cursor: pointer;
  text-align: center;
}

td.calendar-date {
  cursor: pointer;
  text-align: center;
}

td.calendar-saturday {
  background-color: #ccccff;
}
td.calendar-sunday {
  background-color: #ffcccc;
}


td.calendar-target-date {
  background-color: #ffffcc;
}